html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body
{
    font-family: Calibri, Arial, Helvetica, Tahoma;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
form
{
    margin: 0;
    padding: 0;
}

#header #headertitle
{
    font-family: Arial, Helvetica, Sans-Serif;
    color: Black;
    line-height: 45px;
    max-width: 40%;
    white-space: nowrap;
    float: left;
    height: 100%;
    font-size: 21px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 2px;
}

#header #headertitle a
{
    color: Black;
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: none;
}

#header #headertitle a : hover
{
    text-decoration: underline;
}

#header #search
{
    font-family: Arial, Helvetica, Sans-Serif;
    max-width: 60%;
    text-align: right;
    float: right;
    height: 100%;
    font-size: 12px;
    vertical-align: middle;
    margin-right: 2px;
}
#header #search input
{
    margin-top: 3px;
    font-size: small;
    padding: 2px 5px 2px 5px;
}
#header #search input[type=text]
{
    padding: 3px 5px 3px 5px;
}
#pageInfo
{
    display: block;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
    padding-bottom: 130px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 99%;
    float: left;
    clear: both;
}
#pageInfo ul li
{
    list-style-type: none;
}
#pageInfo ul li a
{
    color: Black;
    font-size: medium;
    font-weight: normal;
    white-space: nowrap;
}
#nonFooter
{
    width: 100%;
    min-height: 100%;
    _height: 100%;
    position: relative;
}
#footer
{
    background-color: #F4F7F9;
    border-top: solid 1px #197FB2;
    float: left;
    height: 65px;
    margin-top: -77px;
    margin-bottom: 2px;
    position: relative;
    width: 100%;
}
#footer .ft_admin
{
    padding-top: 15px;
    width: 100%;
    text-align: center;
    font-size: smaller;
    color: black;
}
#footer .ft_admin a
{
    padding-left: 3px;
    padding-right: 3px;
    color: #555555;
    font-size: 12px;
}
#footer .ft_text
{
    color: #555555;
    font-size: 11px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
#footer .ft_text a
{
    color: #555555;
    font-size: 11px;
}
