<?xml version="1.0" encoding="utf-8" ?>
<micajah.common>
    <webApplication name="KnowledgeBase System" logoImageUrl="" defaultColorScheme="Blue" addPort="false" enableMultipleInstances="true"
    frameworkAdministrators="alexey.gavrilov@micajah.com,alexey.gavrilov@gmail.com" canLogOnAsAnotherUser="alexey.gavrilov@micajah.com,alexey.gavrilov@gmail.com"
    dnsAddress="kbapp-atl.bigwebapps.com" enableLdap="false">
        <copyright companyName="bigWebApps Inc." companyLogoImageUrl="Images/bigWebApps.png" companyWebsiteUrl="http://www.bigwebapps.com/" startYear="2002" />
        <customUrl enabled="true" partialCustomUrlRootAddresses="litekb.com,kb.bigwebapps.com,superduperkb.com" partialCustomUrlReservedAddresses="mail,ftp,www,login" />
        <support phone="404.432.9922" />
        <password format="Sha1" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="5" enablePasswordRetrieval="true" />
        <login displayRememberMe="true" />
        <email enableChangeLoginNameNotification="true" enableChangePasswordNotification="true" enableAddUserToOrganizationNotification="true" enableCreateNewUserNotification="true" />
        <masterPage theme="Gradient" themeColor="Blue">
            <header visible="true" visibleLinks="true" visibleSearch="true" visibleLogo="true" />
            <mainMenu visible="False" />
            <breadcrumbs visible="true" />
            <helpLink visible="false" urlFormat="http://klebb.kc.micajah.com/bigwebapps_kb_beta/?i=fb28675e444240c6b63d67e8595d14e4&amp;a={0}&amp;popup=true" windowWidth="680" windowHeight="725" />
            <submenu visible="true" position="Left" />
            <leftArea visible="false" width="175" />
            <detailMenu menuIconSize="Normal" theme="Reflective" />
            <footer visible="true" visibleLinks="true" visibleApplicationLogo="False" />
        </masterPage>
    </webApplication>
    <roles>
        <role id="00000000-0000-0000-0000-000000000011" name="Moderator" description="" shortName="Moderator" rank="3" startPageId="00000000-0000-0000-0000-000000000300" />
    </roles>
    <actions>
        <action id="00000000-0000-0000-0000-000000000300" type="Page" name="Home" description="Moderator Menu" navigateUrl="" orderNumber="-10000" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
            <submenu itemType="Link" imageUrl="" />
            <actions>
                <action id="00000000-0000-0000-0000-000000000100" type="Page" name="Article List" description="" navigateUrl="/InstanceHomeAdmin.aspx" orderNumber="1" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                    <detailMenu show="true" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                    <actions>
                        <action id="00000000-0000-0000-0000-000000000301" type="Page" name="Article View" description="" navigateUrl="/ArticleViewAdmin.aspx" orderNumber="0" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="00000000-0000-0000-0000-000000000101,00000000-0000-0000-0000-000000000102,00000000-0000-0000-0000-000000000303">
                            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                            <submenu itemType="Link" imageUrl="" />
                        </action>
                        <action id="00000000-0000-0000-0000-000000000303" type="Page" name="Search Result" description="" navigateUrl="/SearchResultAdmin.aspx" orderNumber="0" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                            <submenu itemType="Link" imageUrl="" />
                        </action>
                    </actions>
                </action>
                <action id="00000000-0000-0000-0000-000000000307" type="Page" name="Add New Article" description="" navigateUrl="/ArticleViewAdmin.aspx" orderNumber="2" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                    <detailMenu show="true" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
                <action id="00000000-0000-0000-0000-000000000101" type="Page" name="Requests List" description="" navigateUrl="/RequestList.aspx" orderNumber="3" classFullName="BWA.Knowledgebase.ActionCustomHandler" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                    <detailMenu show="true" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
                <action id="00000000-0000-0000-0000-000000000102" type="Page" name="Comments" description="" navigateUrl="/Comments.aspx" orderNumber="4" classFullName="BWA.Knowledgebase.ActionCustomHandler" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                    <detailMenu show="true" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
                <action id="3BB0E664-16EE-44E1-86C1-12046A445FD1" type="Page" name="Do Not Email List" description="" navigateUrl="/DoNotEmailList.aspx" orderNumber="5" classFullName="" authenticationRequired="true" instanceRequired="true" visible="true" roles="Moderator" alternativeParents="">
                    <detailMenu show="true" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
            </actions>
        </action>
        <action id="00000000-0000-0000-0000-000000000305" type="Page" name="Home" description="" navigateUrl="/InstanceHome.aspx" orderNumber="0" classFullName="" authenticationRequired="false" instanceRequired="false" visible="false" roles="" alternativeParents="">
            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
            <submenu itemType="Link" imageUrl="" />
            <actions>
                <action id="00000000-0000-0000-0000-000000000304" type="Page" name="Article View" description="" navigateUrl="/Default.aspx" orderNumber="0" classFullName="" authenticationRequired="false" instanceRequired="false" visible="false" roles="" alternativeParents="00000000-0000-0000-0000-000000000306">
                    <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
                <action id="00000000-0000-0000-0000-000000000306" type="Page" name="Search Result" description="" navigateUrl="/SearchResult.aspx" orderNumber="0" classFullName="" authenticationRequired="false" instanceRequired="false" visible="false" roles="" alternativeParents="">
                    <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
                    <submenu itemType="Link" imageUrl="" />
                </action>
            </actions>
        </action>
        <action id="D5B606E1-765D-410F-84AA-CDA41BE93324" type="Page" name="Home" description="" navigateUrl="/OrganizationHome.aspx" orderNumber="0" classFullName="" authenticationRequired="false" instanceRequired="false" visible="false" roles="" alternativeParents="">
            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
            <submenu itemType="Link" imageUrl="" />
        </action>
        <action id="60598F16-1540-4699-9340-2538738A9E95" type="Page" name="Unsubscribe" description="" navigateUrl="/Unsubscribe.aspx" orderNumber="0" classFullName="" authenticationRequired="false" instanceRequired="false" visible="false" roles="" alternativeParents="">
            <detailMenu show="false" showChildren="false" showDescription="true" group="false" highlight="false" iconUrl="" />
            <submenu itemType="Link" imageUrl="" />
        </action>
        <action id="00000000-0000-0000-0000-000000000004" type="GlobalNavigationLink" name="Help &amp; Support" description="Help and support" navigateUrl="/Help.aspx" orderNumber="10003" classFullName="" authenticationRequired="true" instanceRequired="false" visible="false" roles="" />
    </actions>
    <settings>
        <setting id="C5E3AB18-8A9C-4C7D-BF94-D00C14EE7612" type="Value" name="TrackingCode" description="Analytics Tracking Codes" shortName="TrackingCode" orderNumber="1" levels="Instance" defaultValue="" />
    </settings>    
</micajah.common>